* {

  box-sizing: border-box;
  -moz-box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Lato', sans-serif;

}

/*.todo-container  li, form {

  width: 100%;
  margin: 3% auto;
  list-style-type: none;
  text-align: center;
  font-size: 2rem;
  display: inline-block;

}*/

/*.todo-container span, button, form > input {

  border: 1px solid black;
  padding: 1%;
  font-size: 2rem;


}*/

/*.todo-container input[type=checkbox] {
  width: 300px;
height: 300px;
cursor: pointer;
-webkit-appearance: none;
appearance: none;
}*/

form {
  position: fixed;
  top: 0;
  margin: 0;
  background-color: lightblue;
  width: 100%;
  padding: 30px 0;
  z-index: 1;
  border-bottom: solid darkslategrey 2px;
  text-align: center;
}

form > input {
  font-size: 2rem;
}

form > input[type='text'] {
  max-width: 90%;
}

form > input[type='submit'] {
  margin-top: 15px;
  font-size: 2rem;
  border: solid black 2px;
  padding: 5px;

}

.todo-container {
  position: relative;
  top: 200px;
}
.todo-container > ul > li > span {
  width: 75%;
  display: inline-block;
  margin: 0 auto;
}

.todo-container > ul {
  margin: 10px;
  font-size: 2rem;

}

.todo-container > ul > li > button {
font-size: 1.25rem;
border: solid black 2px;
padding: 10px 5px;
}

.todo-container > ul > li {
  border: solid black 2px;
  padding: 5px;
  margin: 10px 1px;
  display: flex;
}
